<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ocupación de Habitaciones</title>
    <!-- Incluye aquí tus enlaces a CSS o JS si los necesitas -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div th:replace="navbar :: navbar"></div>
    
    <div class="container mt-4">
        <h1>Ocupación de Habitaciones</h1>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>ID de Habitación</th>
                    <th>Porcentaje de Ocupación (%)</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ocupacion : ${porcentajeOcupacion}">
                    <td th:text="${ocupacion.habitacionId}"></td>
                    <td th:text="${ocupacion.porcentajeOcupacion}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
