<!DOCTYPE html>
<html>

<head>
    <title>Crear Cuenta de Consumo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="container">
        <h2 class="text-center">Crear Cuenta de Consumo</h2>
        
        <form th:action="@{/crearcuentaconsumo/save}" th:object="${cuentaConsumo}" method="post">
            
            <div class="form-group">
                <label>ID</label>
                <input type="number" th:field="*{id}" class="form-control" required>
            </div>

            <!-- Campo para Costo Total -->
            <div class="form-group">
                <label for="costoTotal">Costo Total:</label>
                <input type="number" class="form-control" id="costoTotal" th:field="*{costoTotal}" required>
            </div>
            
            <!-- Campo para Habitación -->
            <div class="form-group">
                <label for="habitacion">Habitación:</label>
                <input type="number" class="form-control" id="habitacion" th:field="*{habitacion}" required>
            </div>

            <!-- Campo para Fecha del Consumo -->
            <div class="form-group">
                <label for="fechaDelConsumo">Fecha del Consumo:</label>
                <input type="date" class="form-control" id="fechaDelConsumo" th:field="*{fechaDelConsumo}" required>
            </div>
            
            <div class="form-group">
                <label for="clienteCedula">Cédula del Cliente:</label>
                <input type="number" class="form-control" id="clienteCedula" th:field="*{cliente.cedula}" required>
            </div>

            <div class="form-group">
                <label for="servicio">Servicio:</label>
                <select class="form-control" id="servicio" th:field="*{servicio}" required>
                    <option value="Spa">Spa</option>
                    <option value="Sala">Sala</option>
                    <option value="Extra">Extra</option>
                    <option value="Producto">Producto</option>
                </select>
            </div>
            
            <!-- Botones de acción -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a th:href="@{/cuentasconsumo}" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</body>

</html>
