<!DOCTYPE html>
<html>

<head>
    <title>Editar Cuenta de Consumo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="container">
        <h1 class="text-center">Editar Cuenta de Consumo</h1>

        <form th:action="@{'/editarCuentaConsumo/' + ${cuentaConsumo.id} + '/save'}" th:object="${cuentaConsumo}" method="post">
            <!-- Campo de entrada para ID (oculto ya que el usuario no debería cambiarlo) -->
            <input type="hidden" th:field="*{id}">
            
            <div class="form-group">
                <label>Costo Total</label>
                <input type="text" th:field="*{costoTotal}" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Habitación</label>
                <input type="number" th:field="*{habitacion}" class="form-control" required>
            </div>

            <!-- Campo para Fecha del Consumo -->
            <div class="form-group">
                <label for="fechaDelConsumo">Fecha del Consumo:</label>
                <input type="date" class="form-control" id="fechaDelConsumo" th:field="*{fechaDelConsumo}" required>
            </div>

            <!-- Campo para Cliente (Cédula) -->
            <div class="form-group">
                <label for="clienteCedula">Cédula del Cliente:</label>
                <input type="number" class="form-control" id="clienteCedula" th:field="*{cliente.cedula}" required>
            </div>

            <div class="form-group">
                <label for="servicio">Servicio:</label>
                <select class="form-control" id="servicio" th:field="*{servicio}" required>
                    <option value="Spa">Spa</option>
                    <option value="Sala">Sala</option>
                    <option value="Extra">Extra</option>
                    <option value="Producto">Producto</option>
                </select>
            </div>



            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a th:href="@{/cuentasconsumo}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>

</html>
