<!DOCTYPE html>
<html>

<head>
    <title>Lista de Cuentas de Consumo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Lista de Cuentas de Consumo</h1>
        
        <!-- Botón para ir al requerimiento 1 -->
        <a th:href="@{/dineroRecolectado}" class="btn btn-info mb-3">REQ 1: Dinero Recolectado</a>
        <a th:href="@{/mostrarFormularioConsumo}" class="btn btn-info mb-3">REQ 5: Consumo Usuario y Fecha</a>
        <a th:href="@{/mostrarFormularioConsumo2}" class="btn btn-info mb-3">REQ 9: Consultar Consumo</a>
        <a th:href="@{/mostrarFormularioConsumoNegado}" class="btn btn-info mb-3">REQ 10: Consultar No Consumo</a>
        <!-- Bloque para mostrar mensajes de error -->
        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <p th:text="${errorMessage}"></p>
        </div>

        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Costo Total</th>
                    <th>Habitación</th>
                    <th>Fecha del Consumo</th>
                    <th>Cliente</th>
                    <th>Servicio</th> <!-- Nueva cabecera para Servicio -->
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="cuentaConsumo : ${cuentasconsumo}">
                    <tr>
                        <td th:text="${cuentaConsumo.id}"></td>
                        <td th:text="${cuentaConsumo.costoTotal}"></td>
                        <td th:text="${cuentaConsumo.habitacion}"></td>
                        <td th:text="${cuentaConsumo.fechaDelConsumo}"></td>
                        <td th:text="${cuentaConsumo.cliente.cedula} + ' - ' + ${cuentaConsumo.cliente.nombre}"></td>
                        <td th:text="${cuentaConsumo.servicio}"></td> <!-- Nueva celda para mostrar el Servicio -->
                        <td>
                            <a th:href="@{'/editarCuentaConsumo/' + ${cuentaConsumo.id}}" class="btn btn-warning btn-sm">Editar</a>
                            <a th:href="@{'/eliminarCuentaConsumo/' + ${cuentaConsumo.id}}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <div class="text-center">
            <a th:href="@{/}" class="btn btn-primary">Volver Atrás</a>
            <a th:href="@{/crearCuentaConsumo}" class="btn btn-success">Crear Cuenta de Consumo</a>
        </div>
        <br />
    </div>
</body>

</html>
