<!DOCTYPE html>
<html>

<head>
    <title>Crear Nueva Estadia</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="container">
        <h1 class="text-center">Crear Nueva Estadia</h1>

        <form th:action="@{/crearestadia/save}" th:object="${estadia}" method="post">
            <!-- Campo de entrada para ID -->
            <div class="form-group">
                <label>ID</label>
                <input type="text" th:field="*{id}" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Reserva ID</label>
                <select th:field="*{reserva.id}" class="form-control">
                    <option th:each="reserva : ${reservaciones}" th:value="${reserva.id}" th:text="${reserva.id}"></option>
                </select>
            </div>
            <div class="form-group">
                <label>Cuenta Consumo ID</label>
                <select th:field="*{cuentaConsumo.id}" class="form-control">
                    <option th:each="consumo : ${consumos}" th:value="${consumo.id}" th:text="${consumo.id}"></option>
                </select>
            </div>
            <div class="form-group">
                <label>Paz y Salvo</label>
                <select th:field="*{pazYsalvo}" class="form-control">
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group">
                <label>Checkin</label>
                <input type="date" th:field="*{checkin}" class="form-control" required>
            </div>
            <!-- Checkbox para marcar si el check-in se realizó -->
            <div class="form-group custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" th:field="*{checkinRealizado}" id="checkinRealizado">
                <label class="custom-control-label" for="checkinRealizado">Checkin Realizado</label>
            </div>
            <div class="form-group">
                <label>Checkout</label>
                <input type="date" th:field="*{checkout}" class="form-control" required>
            </div>
            <!-- Checkbox para marcar si el check-out se realizó -->
            <div class="form-group custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" th:field="*{checkoutRealizado}" id="checkoutRealizado">
                <label class="custom-control-label" for="checkoutRealizado">Checkout Realizado</label>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a th:href="@{/estadias}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>

</html>
