<!DOCTYPE html>
<html>

<head>
    <title>Lista llegada/salida de un cliente al hotel</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Lista de llegada/salida de un cliente al hotel</h1>

        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Reserva ID</th>
                    <th>Cuenta Consumo ID</th>
                    <th>Paz y Salvo</th>
                    <th>Checkin</th>
                    <th>Checkin Realizado</th>
                    <th>Checkout</th>
                    <th>Checkout Realizado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="estadia : ${estadias}">
                    <tr>
                        <td th:text="${estadia.id}"></td>
                        <td th:text="${estadia.reserva.id}"></td>
                        <td th:text="${estadia.cuentaConsumo.id}"></td>
                        <td th:text="${estadia.pazYsalvo} ? 'Sí' : 'No'"></td>
                        <td th:text="${estadia.checkin}"></td>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkinRealizado${estadia.id}" th:checked="${estadia.checkinRealizado}" disabled>
                                <label class="custom-control-label" for="checkinRealizado${estadia.id}"></label>
                            </div>
                        </td>
                        <td th:text="${estadia.checkout}"></td>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkoutRealizado${estadia.id}" th:checked="${estadia.checkoutRealizado}" disabled>
                                <label class="custom-control-label" for="checkoutRealizado${estadia.id}"></label>
                            </div>
                        </td>
                        <td>
                            <a th:href="@{'/editarestadia/' + ${estadia.id}}" class="btn btn-warning btn-sm">Editar</a>
                            <a th:href="@{'/eliminarestadia/' + ${estadia.id}}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <div class="text-center">
            <a th:href="@{/}" class="btn btn-primary"> Volver Atrás</a>
            <a th:href="@{/crearestadia}" class="btn btn-success">Crear Estadia</a>
            </br>
        </div>
        <br />
</body>

</html>
