<!DOCTYPE html>
<html>

<head>
    <title>Lista de Gimnasios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Lista de Gimnasios</h1>

        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Capacidad</th>
                    <th>Máquinas</th>
                    <th>Horario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="gym : ${gyms}">
                    <tr>
                        <td th:text="${gym.id}"></td>
                        <td th:text="${gym.capacidad}"></td>
                        <td th:text="${gym.maquinas}"></td>
                        <td th:text="${gym.horario}"></td>
                        <td>
                            <a th:href="@{'/editarGym/' + ${gym.id}}" class="btn btn-warning btn-sm">Editar</a>
                            <a th:href="@{'/eliminarGym/' + ${gym.id}}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <div class="text-center">
            <a th:href="@{/servicios}" class="btn btn-primary"> Volver a Servicios</a>
            <a th:href="@{/creargym}" class="btn btn-success">Agregar Gimnasio</a>
        </div>
        <br />
    </div>
</body>

</html>
