<!DOCTYPE html>
<html>
<head>
    <title>Hotel de los Andes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">

    <h1>Hotel Andes</h1>
    <img th:src="@{/images/hotel.png}" alt="Hotel de los Andes" width="250">
    <a th:href="@{/resumenHotel}" class="btn btn-info mb-3">REQ 6: Operacion Hotel</a>
    <a th:href="@{/buenosClientes}" class="btn btn-info mb-3">REQ 7: Buenos Clientes</a>
    <a th:href="@{/resumenFuncionamiento}" class="btn btn-info mb-3">REQ 11: Consultar Funcionamiento</a>
    <a th:href="@{/clientesExcelentes}" class="btn btn-info mb-3">REQ 12: Clientes Excelentes</a>
    <div>
        <a th:href="@{/rolesusuario}" class="btn btn-primary"style="margin-right: 10px; margin-bottom: 10px;">Req 1</a>
        <a th:href="@{/usuarios}" class="btn btn-primary"style="margin-right: 10px; margin-bottom: 10px;">Req 2</a>
        <a th:href="@{/tiposhabitaciones}" class="btn btn-primary"style="margin-right: 10px; margin-bottom: 10px;">Req 3</a>
        <a th:href="@{/habitaciones}" class="btn btn-primary"style="margin-right: 10px; margin-bottom: 10px;">Req 4</a>
        <a th:href="@{/servicios}" class="btn btn-primary"style="margin-right: 10px; margin-bottom: 10px;">Req 5</a>
        <a th:href="@{/planesconsumo}" class="btn btn-primary"style="margin-right: 10px; margin-bottom: 10px;">Req 6</a>
        <a th:href="@{/reservas}" class="btn btn-primary"style="margin-right: 10px; margin-bottom: 10px;">Req 7</a>
        <a th:href="@{/reserva2}" class="btn btn-primary"style="margin-right: 10px; margin-bottom: 10px;">Req 8</a>
        <a th:href="@{/estadias}" class="btn btn-primary"style="margin-right: 10px; margin-bottom: 10px;">Req 9</a>
        <a th:href="@{/cuentasconsumo}" class="btn btn-primary"style="margin-right: 10px; margin-bottom: 10px;">Req 10</a>
        <a th:href="@{/estadias}" class="btn btn-primary"style="margin-right: 10px; margin-bottom: 10px;">Req 11</a>


    </div>
    <br/>

</div>
</body>
</html>
