<!DOCTYPE html>
<html>

<head>
    <title>Lista de Servicios de Internet</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Lista de Servicios de Internet</h1>

        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Capacidad (Gigas)</th>
                    <th>Costo Diario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="internet : ${internets}">
                    <tr>
                        <td th:text="${internet.id}"></td>
                        <td th:text="${internet.capacidadGigas}"></td>
                        <td th:text="${internet.costoDiario}"></td>
                        <td>
                            <a th:href="@{'/editarInternet/' + ${internet.id}}" class="btn btn-warning btn-sm">Editar</a>
                            <a th:href="@{'/eliminarInternet/' + ${internet.id}}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <div class="text-center">
            <a th:href="@{/servicios}" class="btn btn-primary"> Volver a Servicios</a>
            <a th:href="@{/crearinternet}" class="btn btn-success">Agregar Servicio de Internet</a>
        </div>
        <br />
    </div>
</body>

</html>
