<!DOCTYPE html>
<html>
<head>
    <title>Limpiezas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="text-center">
        <h1>Limpiezas</h1>
        <table class="table table-condensed table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Capacidad</th>
                    <th>Costo por Hora</th>
                    <th>Costo Adicional</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="limpieza : ${limpiezas}">
                    <tr>
                        <td th:text="${limpieza.id}"></td>
                        <td th:text="${limpieza.capacidad}"></td>
                        <td th:text="${limpieza.costoHora}"></td>
                        <td th:text="${limpieza.costoAdicional}"></td>
                        <td>
                            <a th:href="@{'/editarLimpieza/' + ${limpieza.id}}" class="btn btn-warning btn-sm">Editar</a>
                            <a th:href="@{'/eliminarLimpieza/' + ${limpieza.id}}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <div class="text-center">
            <a th:href="@{/servicios}" class="btn btn-primary"> Volver a Servicios</a>
            <a th:href="@{/creartienda}" class="btn btn-success">Agregar Limpieza</a>
        </div>
</body>
</html>
