<!DOCTYPE html>
<html>

<head>
    <title>Lista Planes Consumo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Lista de Planes Consumo</h1>

        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Info</th>
                    <th>Hotel ID</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="planconsumo : ${planesconsumo}">
                    <tr>
                        <td th:text="${planconsumo.id}"></td>
                        <td th:text="${planconsumo.info}"></td>
                        <td th:text="${planconsumo.hotel.id}"></td>
                        <td>
                            <a th:href="@{'/editarPlanConsumo/' + ${planconsumo.id}}" class="btn btn-warning btn-sm">Editar</a>
                            <a th:href="@{'/eliminarPlanConsumo/' + ${planconsumo.id}}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <div class="text-center">
            <a th:href="@{/}" class="btn btn-primary"> Volver Atrás</a>
            <a th:href="@{/crearplan}" class="btn btn-success">Crear Plan Consumo</a>
            </br>
        </div>
        <br />
    </div>
</body>

</html>
