<!DOCTYPE html>
<html>
<head>
    <title>Porcentaje de Ocupación</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>
<body>
    <div class="text-center">
        <h1>Porcentaje de Ocupación por Habitación</h1>

        <table class="table table-condensed table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Habitación ID</th>
                    <th>Porcentaje de Ocupación</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="ocupacion : ${ocupaciones}">
                    <tr>
                        <td th:text="${ocupacion[0]}"></td>
                        <td th:text="${ocupacion[1]} + '%'"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        
        <a th:href="@{/reservas}" class="btn btn-primary">Volver a Lista de Reservas</a>
    </div>
</body>
</html>
