<!DOCTYPE html>
<html>

<head>
    <title>Resumen de Hotel</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Resumen de Hotel</h1>

        <!-- Sección de Fechas de Mayor Ocupación -->
        <h2>Fechas de Mayor Ocupación</h2>
        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>Fecha</th>
                    <th>Ocupación</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="fecha : ${fechasMayor}">
                    <tr>
                        <td th:text="${#dates.format(fecha[0], 'yyyy-MM-dd')}"></td>
                        <td th:text="${fecha[1]}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>

        <!-- Sección de Fechas de Menor Ocupación -->
        <h2>Fechas de Menor Ocupación</h2>
        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>Fecha</th>
                    <th>Ocupación</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="fecha : ${fechasMenor}">
                    <tr>
                        <td th:text="${#dates.format(fecha[0], 'yyyy-MM-dd')}"></td>
                        <td th:text="${fecha[1]}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>

        <!-- Sección de Fechas de Mayores Ingresos -->
        <h2>Fechas de Mayores Ingresos</h2>
        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>Fecha</th>
                    <th>Ingresos</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="fecha : ${fechasIngresos}">
                    <tr>
                        <td th:text="${#dates.format(fecha[0], 'yyyy-MM-dd')}"></td>
                        <td th:text="${fecha[1]}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>

        <!-- Sección de Navegación -->
        <div class="text-center mt-3">
            <a th:href="@{/}" class="btn btn-primary">Volver Atrás</a>
        </div>
    </div>
</body>

</html>
