<!DOCTYPE html>
<html>

<head>
    <title>Resumen de Funcionamiento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center mb-5">Resumen de Funcionamiento del Hotel</h1>

        <!-- Tabla de Consumo Máximo y Mínimo por Semana -->
        <h2 class="text-center">Consumo Máximo y Mínimo por Semana</h2>
        <table class="table table-condensed table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Inicio Semana</th>
                    <th>Fin Semana</th>
                    <th>Consumo Máximo</th>
                    <th>Tipo Máximo</th>
                    <th>Consumo Mínimo</th>
                    <th>Tipo Mínimo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="consumo : ${consumoMaxMin}">
                    <td th:text="${#dates.format(consumo[0], 'yyyy-MM-dd')}"></td>
                    <td th:text="${#dates.format(consumo[1], 'yyyy-MM-dd')}"></td>                    
                    <td th:text="${consumo[2]}"></td>
                    <td th:text="${consumo[3]}"></td>
                    <td th:text="${consumo[4]}"></td>
                    <td th:text="${consumo[5]}"></td>
                </tr>
            </tbody>
        </table>

        <!-- Tabla de Habitación Máxima y Mínima por Semana -->
        <h2 class="text-center mt-5">Habitación Máxima y Mínima por Semana</h2>
        <table class="table table-condensed table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Inicio Semana</th>
                    <th>Fin Semana</th>
                    <th>Habitación Máxima</th>
                    <th>Tipo Máximo</th>
                    <th>Habitación Mínima</th>
                    <th>Tipo Mínimo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="habitacion : ${habitacionMaxMin}">
                    <td th:text="${#dates.format(habitacion[0], 'yyyy-MM-dd')}"></td>
                    <td th:text="${#dates.format(habitacion[1], 'yyyy-MM-dd')}"></td>                    
                    <td th:text="${habitacion[2]}"></td>
                    <td th:text="${habitacion[3]}"></td>
                    <td th:text="${habitacion[4]}"></td>
                    <td th:text="${habitacion[5]}"></td>
                </tr>
            </tbody>
        </table>

        <div class="text-center mt-5">
            <a th:href="@{/}" class="btn btn-primary">Volver Atrás</a>
        </div>
    </div>
</body>

</html>
