<!DOCTYPE html>
<html>
<head>
    <title>Hotel de los Andes - Servicios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">
        <h1>Servicios del Hotel Andes</h1>
        <a th:href="@{/mostrarFormularioServiciosMasSolicitados}" class="btn btn-info mb-3">REQ 2: 20 Servicios Populares</a>
        <a th:href="@{/buscarServicios}" class="btn btn-info mb-3">REQ 4: Buscar Servicio</a>
        <a th:href="@{/mostrarFormularioServiciosMenosSolicitados}" class="btn btn-info mb-3">REQ 9: Servicios menos demandados</a>
        <!-- Aquí van los 12 botones para los servicios -->
        <div>
            <a th:href="@{/internet}" class="btn btn-primary" style="margin-right: 10px; margin-bottom: 10px;">Internet</a>
            <a th:href="@{/piscina}" class="btn btn-primary" style="margin-right: 10px; margin-bottom: 10px;">Piscina</a>
            <a th:href="@{/gym}" class="btn btn-primary" style="margin-right: 10px; margin-bottom: 10px;">Gym</a>
            <a th:href="@{/restaurante}" class="btn btn-primary" style="margin-right: 10px; margin-bottom: 10px;">Restaurante</a>
            <a th:href="@{/bar}" class="btn btn-primary" style="margin-right: 10px; margin-bottom: 10px;">Bar</a>
            <a th:href="@{/supermercado}" class="btn btn-primary" style="margin-right: 10px; margin-bottom: 10px;">Supermercado</a>
            <a th:href="@{/tienda}" class="btn btn-primary" style="margin-right: 10px; margin-bottom: 10px;">Tienda</a>
            <a th:href="@{/salaReuniones}" class="btn btn-primary" style="margin-right: 10px; margin-bottom: 10px;">Sala reuniones</a>
            <a th:href="@{/salaConferencias}" class="btn btn-primary" style="margin-right: 10px; margin-bottom: 10px;">Sala conferencias</a>
            <a th:href="@{/limpieza}" class="btn btn-primary" style="margin-right: 10px; margin-bottom: 10px;">Limpieza</a>
            <a th:href="@{/prestamoUtencilios}" class="btn btn-primary" style="margin-right: 10px; margin-bottom: 10px;">Préstamo utensilios</a>
            <a th:href="@{/spa}" class="btn btn-primary" style="margin-right: 10px; margin-bottom: 10px;">Spa</a>
        </div>
        <br/>
        <div class="text-center">
            <a th:href="@{/}" class="btn btn-primary">Volver Atrás</a>
        </div>
    </div>
</body>
</html>
