<!DOCTYPE html>
<html>

<head>
    <title>Lista de Tipos de Habitaciones</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Lista de Tipos de Habitaciones</h1>
        
        <!-- Bloque para mostrar mensajes de error -->
        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <p th:text="${errorMessage}"></p>
        </div>

        <table class="table table-condensed table-hover table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Capacidad</th>
                    <th>Dotación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="tipoHabitacion : ${tiposhabitaciones}">
                    <tr>
                        <td th:text="${tipoHabitacion.id}"></td>
                        <td th:text="${tipoHabitacion.nombre}"></td>
                        <td th:text="${tipoHabitacion.capacidad}"></td>
                        <td th:text="${tipoHabitacion.dotacion}"></td>
                        <td>
                            <a th:href="@{'/editartipohabitacion/' + ${tipoHabitacion.id}}" class="btn btn-warning btn-sm">Editar</a>
                            <form th:action="@{'/eliminartipohabitacion/' + ${tipoHabitacion.id}}" method="post" style="display:inline;">
                                <input type="submit" value="Eliminar" class="btn btn-danger btn-sm">
                            </form>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <div class="text-center">
            <a th:href="@{/}" class="btn btn-primary"> Volver Atrás</a>
            <a th:href="@{/creartipohabitacion}" class="btn btn-success">Crear Tipo de Habitación</a>
        </div>
        <br />
    </div>
</body>

</html>
